In [7]:
import pandas as pd
import os

In [8]:
title_basic = pd.read_csv('db_files/title_basic.tsv', delimiter='\t')

C:\Users\ignacio\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [9]:
title_basic.shape

(9719896, 9)

In [10]:
title_basic.head(20)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
5,tt0000006,short,Chinese Opium Den,Chinese Opium Den,0,1894,\N,1,Short
6,tt0000007,short,Corbett and Courtney Before the Kinetograph,Corbett and Courtney Before the Kinetograph,0,1894,\N,1,"Short,Sport"
7,tt0000008,short,Edison Kinetoscopic Record of a Sneeze,Edison Kinetoscopic Record of a Sneeze,0,1894,\N,1,"Documentary,Short"
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance
9,tt0000010,short,Leaving the Factory,La sortie de l'usine Lumière à Lyon,0,1895,\N,1,"Documentary,Short"
10,tt0000011,short,Akrobatisches Potpourri,Akrobatisches Potpourri,0,1895,\N,1,"Documentary,Short"
11,tt0000012,short,The Arrival of a Train,L'arrivée d'un train à La Ciotat,0,1896,\N,1,"Documentary,Short"
12,tt0000013,short,The Photographical Congress Arrives in Lyon,Le débarquement du congrès de photographie à Lyon,0,1895,\N,1,"Documentary,Short"
13,tt0000014,short,The Waterer Watered,L'arroseur arrosé,0,1895,\N,1,"Comedy,Short"
14,tt0000015,short,Autour d'une cabine,Autour d'une cabine,0,1894,\N,2,"Animation,Short"
15,tt0000016,short,Boat Leaving the Port,Barque sortant du port,0,1895,\N,1,"Documentary,Short"
16,tt0000017,short,Italienischer Bauerntanz,Italienischer Bauerntanz,0,1895,\N,1,"Documentary,Short"
17,tt0000018,short,Das boxende Känguruh,Das boxende Känguruh,0,1895,\N,1,Short
18,tt0000019,short,The Clown Barber,The Clown Barber,0,1898,\N,\N,"Comedy,Short"
19,tt0000020,short,The Derby 1895,The Derby 1895,0,1895,\N,1,"Documentary,Short,Sport"

## Filtering steps:

1. titleType:
    - movie
    - tvSeries
    - tvMovie

2. startYear: 1940 <= year <= 2022
3. num of replicas: >= 1
4. num of reviews : >= 1000
5. num of actor per movie: >= 1

In [11]:
allowed = ['movie', 'tvSeries', 'tvMovie']
startYear = 1940
n_replicas = 1
n_reviews = 1000
null_values = ['\\N', '\\n', '']

In [12]:
title_basic['startYear'] = title_basic['startYear'].replace('\\N', 0).astype('int32')
title_basic['endYear'] = title_basic.apply(
    lambda r: int(r['startYear']) if r['endYear'] == '\\N' else int(r['endYear']), axis=1
)
title_basic['runtimeMinutes'] = title_basic['runtimeMinutes'].replace('\\N', 0)
title_basic = title_basic.drop(title_basic[title_basic['genres'].isin(null_values)].index)

In [13]:
title_basic['genres'] = title_basic['genres'].str.split(',')

In [14]:
g = title_basic['genres']
g = g.explode()
g.value_counts()

Drama          2740832
Comedy         1967448
Talk-Show      1184554
Short          1066110
Documentary     917221
Romance         899445
News            857329
Family          713471
Reality-TV      530532
Animation       498817
Crime           399063
Action          387107
Adventure       381343
Music           380750
Game-Show       353299
Adult           298961
Sport           230645
Fantasy         198412
Mystery         190639
Horror          169648
Thriller        163374
History         140042
Sci-Fi          106996
Biography       105688
Musical          87098
War              33462
Western          29807
Film-Noir          887
Name: genres, dtype: int64

+------------+-------+
|            |genres |
+------------+-------+
|Drama       |2725059|
|Comedy      |1959541|
|Talk-Show   |1162771|
|Short       |1059508|
|Documentary |912034 |
|Romance     |889406 |
|News        |843408 |
|Family      |709851 |
|Reality-TV  |536574 |
|Animation   |495894 |
|Crime       |396347 |
|Action      |384377 |
|Adventure   |378884 |
|Music       |376819 |
|Game-Show   |353205 |
|Adult       |296861 |
|Sport       |228226 |
|Fantasy     |198500 |
|Mystery     |188956 |
|Horror      |168532 |
|Thriller    |161884 |
|History     |143369 |
|Sci-Fi      |106342 |
|Biography   |105568 |
|Musical     |86713  |
|War         |33230  |
|Western     |29398  |
|Film-Noir   |890    |
|Experimental|1      |
+------------+-------+

In [15]:
m1 = title_basic['startYear'] >= startYear
m3 = title_basic['startYear'] <= 2022
m2 = title_basic['titleType'].isin(allowed)
db = title_basic[m1 & m2]
del title_basic, g
db.head(20)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
11636,tt0011801,movie,Tötet nicht mehr,Tötet nicht mehr,0,2019,2019,0,"[Action, Crime]"
13082,tt0013274,movie,Istoriya grazhdanskoy voyny,Istoriya grazhdanskoy voyny,0,2021,2021,133,[Documentary]
15486,tt0015724,movie,Dama de noche,Dama de noche,0,1993,1993,102,"[Drama, Mystery, Romance]"
18595,tt0018867,movie,Escape from Hong Kong,Escape from Hong Kong,0,1942,1942,60,"[Adventure, Mystery, War]"
21274,tt0021617,movie,Arizona Territory,Arizona Territory,0,1950,1950,56,[Western]
21711,tt0022064,movie,Lebbra bianca,Lebbra bianca,0,1951,1951,100,[Drama]
23711,tt0024121,movie,Houkutuslintu,Houkutuslintu,0,1946,1946,84,[Drama]
25116,tt0025557,movie,El negro que tenía el alma blanca,El negro que tenía el alma blanca,0,1951,1951,87,"[Drama, Musical]"
26482,tt0026957,movie,Bound for Cairo,Rumbo al Cairo,0,1940,1940,0,[Comedy]
26836,tt0027318,movie,August järjestää kaiken,August järjestää kaiken,0,1942,1942,95,[Comedy]
27545,tt0028038,movie,Non mi sposo più,Non mi sposo più,0,1942,1942,82,[Comedy]
27565,tt0028058,movie,Olympic Honeymoon,Olympic Honeymoon,0,1940,1940,63,[Comedy]
28596,tt0029105,movie,Lady from Lisbon,The Lady from Lisbon,0,1942,1942,75,"[Comedy, Thriller, War]"
28774,tt0029284,movie,My Favorite Wife,My Favorite Wife,0,1940,1940,88,"[Comedy, Romance]"
28820,tt0029330,movie,Of One Blood,Of One Blood,0,1944,1944,64,[Thriller]
29185,tt0029704,movie,The Last Enemy,L'ultima nemica,0,1940,1940,88,[Drama]
29339,tt0029859,movie,Altes Herz geht auf die Reise,Altes Herz geht auf die Reise,0,1947,1947,87,[Drama]
29356,tt0029876,movie,El fanfarrón: ¡Aquí llegó el valentón!,El fanfarrón: ¡Aquí llegó el valentón!,0,1940,1940,83,"[Adventure, Drama, Western]"
29960,tt0030495,movie,Narcisse,Narcisse,0,1940,1940,95,[Drama]
30284,tt0030827,movie,Szüts Mara házassága,Szüts Mara házassága,0,1941,1941,91,[Romance]

In [16]:
db.shape

(773699, 9)

In [17]:
title_akas = pd.read_csv('db_files/title_akas.tsv', delimiter='\t')
title_akas = title_akas[['titleId','ordering','region']]

C:\Users\ignacio\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [18]:
title_akas = title_akas.drop(title_akas[title_akas['region'].isin(null_values)].index)
title_akas = title_akas.drop(title_akas[title_akas['ordering'].isin(null_values)].index)
title_akas = title_akas[title_akas['titleId'].isin(db.tconst)]

C:\Users\ignacio\anaconda3\lib\site-packages\numpy\lib\arraysetops.py:583: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [19]:
title_akas.shape

(2735752, 3)

In [20]:
replicas = title_akas.groupby('titleId').aggregate({'ordering':'count', 'titleId':'first'})
replicas = replicas[replicas['ordering'] >= n_replicas]
title_akas = title_akas[title_akas['titleId'].isin(replicas.titleId)]
title_akas.shape

(2735752, 3)

Regions

In [21]:
regions = title_akas.groupby('titleId').aggregate(
    {'ordering': 'count', 'region': lambda e: list(e)}
).sort_values('ordering', ascending=False)
regions = regions.rename(columns={'ordering':'replicas', 'region':'regions'})
regions

            replicas                                            regions
titleId
tt0088814        247  [DZ, FI, IT, BE, CG, RS, CN, CR, SE, AT, CZ, D...
tt0168366        190  [US, US, JP, AR, CN, SI, TW, US, US, SE, IN, U...
tt2872750        149  [ES, XWW, EG, GB, CM, PE, AR, PR, LB, US, QA, ...
tt0099785        144  [PL, KR, BD, MA, UZ, IN, MD, PL, FR, PT, LV, S...
tt0104431        134  [MD, UA, HR, KR, FR, PL, EC, SG, FI, SE, VN, A...
...              ...                                                ...
tt14272380         1                                               [US]
tt1427238          1                                               [US]
tt1427237          1                                               [US]
tt1427235          1                                               [PH]
tt9916754          1                                               [BR]

[768152 rows x 2 columns]

In [22]:
db = db.join(regions, on='tconst').dropna()
del title_akas
del regions

In [23]:
name_basics = pd.read_csv('db_files/name_basics.tsv', delimiter='\t')

In [24]:
name_basics = name_basics.drop(name_basics[name_basics['birthYear'] == '\\N'].index)
name_basics['deathYear'] = name_basics['deathYear'].replace({'\\N':'2024'})
actors = name_basics[
    name_basics['primaryProfession'].str.contains('actor') |
    name_basics['primaryProfession'].str.contains('actress')
]
actors = actors.drop(actors[actors['knownForTitles'] == '\\N'].index)

In [25]:
actors['knownForTitles'] = actors['knownForTitles'].apply(lambda e: e.split(',')).explode('knownForTitles')
del name_basics

In [26]:
actors = actors[actors['knownForTitles'].isin(db.tconst)]
actors = actors.rename(columns={'knownForTitles':'tconst'})
db = db.join(actors.set_index('tconst'), on='tconst').dropna()
del actors
db.head(20)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,replicas,regions,nconst,primaryName,birthYear,deathYear,primaryProfession
15486,tt0015724,movie,Dama de noche,Dama de noche,0,1993,1993,102,"[Drama, Mystery, Romance]",2.0,"[MX, HU]",nm0449525,Harry Kernell,1888,1953,"costume_department,actor"
21274,tt0021617,movie,Arizona Territory,Arizona Territory,0,1950,1950,56,[Western],2.0,"[US, BR]",nm0524533,Martina Luchner,1978,2024,actress
21711,tt0022064,movie,Lebbra bianca,Lebbra bianca,0,1951,1951,100,[Drama],6.0,"[BR, FR, IT, AR, BR, PE]",nm0054019,Arthur Barclay,1892,1978,actor
25116,tt0025557,movie,El negro que tenía el alma blanca,El negro que tenía el alma blanca,0,1951,1951,87,"[Drama, Musical]",4.0,"[MX, PT, BR, ES]",nm0242341,Olgerts Dunkers,1932,1997,"actor,director,writer"
26482,tt0026957,movie,Bound for Cairo,Rumbo al Cairo,0,1940,1940,0,[Comedy],2.0,"[US, ES]",nm0402472,Homer Hunt,1884,1981,actor
27565,tt0028058,movie,Olympic Honeymoon,Olympic Honeymoon,0,1940,1940,63,[Comedy],3.0,"[CA, US, GB]",nm0461739,Peggy Knudsen,1923,1980,actress
28774,tt0029284,movie,My Favorite Wife,My Favorite Wife,0,1940,1940,88,"[Comedy, Romance]",48.0,"[FR, PL, HU, JP, ZA, XWW, AT, HK, IE, HR, CA, ...",nm0098850,Bouboule,1916,2015,actress
28774,tt0029284,movie,My Favorite Wife,My Favorite Wife,0,1940,1940,88,"[Comedy, Romance]",48.0,"[FR, PL, HU, JP, ZA, XWW, AT, HK, IE, HR, CA, ...",nm0253767,Lourdes Elizarrarás,1959,2024,"actress,writer,assistant_director"
28774,tt0029284,movie,My Favorite Wife,My Favorite Wife,0,1940,1940,88,"[Comedy, Romance]",48.0,"[FR, PL, HU, JP, ZA, XWW, AT, HK, IE, HR, CA, ...",nm0459441,Rikki Klieman,1948,2024,"actress,editorial_department"
30512,tt0031061,movie,House of Mystery,At the Villa Rose,0,1940,1940,74,"[Drama, Mystery]",8.0,"[PT, GB, IT, ES, DE, SE, GB, US]",nm0311812,Viktor Gehring,1889,1978,"actor,director,writer"
30528,tt0031077,movie,Band Waggon,Band Waggon,0,1940,1940,85,"[Comedy, Musical]",4.0,"[SE, ES, US, GB]",nm0136938,Denis Carey,1909,1986,"actor,director,producer"
30528,tt0031077,movie,Band Waggon,Band Waggon,0,1940,1940,85,"[Comedy, Musical]",4.0,"[SE, ES, US, GB]",nm0424303,David B. Johns,1945,1986,actor
30719,tt0031271,movie,In the Times of Don Porfirio,En tiempos de Don Porfirio,0,1940,1940,160,"[Comedy, Drama, Musical]",3.0,"[MX, XWW, MX]",nm0578968,Jaime Mendes,1903,1997,"composer,music_department,actor"
30794,tt0031348,movie,Frontier Vengeance,Frontier Vengeance,0,1940,1940,58,[Western],1.0,[US],nm0417040,Adair Jameson,1940,2024,actress
30794,tt0031348,movie,Frontier Vengeance,Frontier Vengeance,0,1940,1940,58,[Western],1.0,[US],nm0469701,Dan Krames,1962,2024,"actor,director,writer"
30805,tt0031359,movie,Gaslight,Gaslight,0,1940,1940,84,"[Mystery, Thriller]",19.0,"[PL, DE, HU, ES, FR, NL, US, BR, GB, US, SUHH,...",nm0131808,Joe Camilleri,1948,2024,"actor,soundtrack,composer"
30805,tt0031359,movie,Gaslight,Gaslight,0,1940,1940,84,"[Mystery, Thriller]",19.0,"[PL, DE, HU, ES, FR, NL, US, BR, GB, US, SUHH,...",nm0268426,Betty Farrington,1898,1989,"actress,soundtrack"
30805,tt0031359,movie,Gaslight,Gaslight,0,1940,1940,84,"[Mystery, Thriller]",19.0,"[PL, DE, HU, ES, FR, NL, US, BR, GB, US, SUHH,...",nm0619867,Marcos Najera,1972,2024,"actor,script_department"
30965,tt0031522,movie,Just William,Just William,0,1940,1940,72,[Comedy],2.0,"[GB, US]",nm0270204,Jacek Fedorowicz,1937,2024,"actor,writer,soundtrack"
30965,tt0031522,movie,Just William,Just William,0,1940,1940,72,[Comedy],2.0,"[GB, US]",nm0609288,Isabel Mota,1954,2024,actress

In [27]:
db.shape

(136261, 16)

In [28]:
title_ratings = pd.read_csv('db_files/title_ratings.tsv', delimiter='\t')

In [29]:
title_ratings = title_ratings.drop(title_ratings[title_ratings['averageRating'] == '\\N'].index)
title_ratings = title_ratings.drop(title_ratings[title_ratings['numVotes'] == '\\N'].index)
title_ratings = title_ratings[title_ratings['numVotes'] >= n_reviews]
title_ratings = title_ratings[title_ratings['tconst'].isin(db.tconst)]

In [30]:
db = db.merge(title_ratings, on='tconst').dropna()
del title_ratings
db.shape

(55139, 18)

Store the cleaned database

In [31]:
import numpy as np
for index in db.index:
    for column in db.columns:
        cell_entry = db.loc[index, column]
        if (type(cell_entry) == str) | (type(cell_entry) == np.str_) :
            db.loc[index, column] = cell_entry.replace('"', '')
            db.loc[index, column] = cell_entry.replace('\'', '')

In [32]:
# db = ...
os.makedirs('db_clean', exist_ok=True)
db.to_csv('db_clean/titles.csv', index=False)